body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 10px;
  height: 100vh;
}
.bg-card {
  background-image: url("./assets/images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.bg-card h1 {
  color: white;
}
.cards {
  background-color: white;
  border-radius: 10px;
  height: 250px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 10px 10px 10px black;
}

.cards img {
  width: 150px;
  height: 200px;
}
.cards h3 {
  text-align: center;
  font-size: medium;
  font-weight: bolder;
}
.cards:hover {
  scale: 105%;
}
.min-vh-100 {
  min-height: 100vh;
}
.carousel {
  background-image: url("./assets/images/lala.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.populer {
  color: white;
  font-size: x-large;
  font-weight: bolder;
  text-decoration: none;
  margin: 20px;
  padding: 10px;
}
.search {
  background-color: white;
  overflow-y: scroll;
  scrollbar-width: none;
  float: left;
  width: 200px;
  margin-left: 20px;
}
.search input {
  width: 200px;
  background-color: transparent;
  border: none;
  font-size: medium;
  font-weight: bolder;
}
.search input:focus {
  outline: none;
}
.search p {
  text-align: center;
  background-color: white;
}
.search p:hover {
  cursor: pointer;
  background-color: grey;
}
@media screen and (max-width: 600px) {
  .carousel {
    width: 100vw;
    background-size: cover;
  }
}
